body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: monospace;
  font-weight: 700;
  color: #555;
  background-color: #ecf0f3;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  justify-content: center;
}




